.form, .login-container{ 
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container{
    background-color: var(--light-gray);
}

.login-container{
    margin: var(--sp-64) auto;
    padding: var(--sp-16) var(--sp-64);
    background-color: var(--white);
    border:none;
    box-shadow: 0 0 3px var(--light-gray);
}

.form label{
    align-self: flex-start;
    margin-bottom: var(--sp-8);
}

.form input[type='text'], .form input[type='password']{
    width: 100%;
    padding: var(--sp-8) var(--sp-16);
    margin-bottom: var(--sp-16);
}

.form .inline-label {
display:inline-block;
margin-right: var(--sp-16);
}

.form .form-button{
    margin: var(--sp-16) auto;
    display:block;
    width: 100%;
}
