.primary-color{
    color: var(--primary-color);
}

.text-decoration-none{
text-decoration: none;
}

.text-color-black{
    color: var(--text-color);
}

.filled{
    color: var(--burnt-red);
}

.text-card{
    padding: var(--sp-16);
}

.action-button, .remove-button {
    width: 100%;
}